.light-theme {
  --theme-primary-color: #2089ff;
  --theme-background-color: gainsboro;
  --theme-text-color: #212529;
}

.dark-theme {
  --theme-primary-color: #007bff;
  --theme-background-color: #343a40;
  --theme-text-color: #f8f9fa;
}
