.content {
  padding: 20px;
  background-color: var(--theme-background-color);
  color: var(--theme-text-color);

  button {
    background-color: var(--theme-primary-color);
    color: var(--theme-text-color);
  }
}
